@media (max-width:992px) {
    .top-navbar .sitebar-menu {
        min-width: 35%;
        overflow-y: auto;
    }


    .hero-area .col-lg-3 {
        margin: 15px 0;
    }

    .shipping-secton .Freeshipping-containers {
        height: 100% !important;
    }

    .Freeshipping-containers .row .col-lg-3 {
        margin: 15px 0;
    }

    /* details page */
    .back-to-home a button {
        width: 20%;
    }

    /* login page */
    .login-page .login-form {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }


    /* wish list page */

    .favorite-list .compare-product {
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
        align-items: center;
        padding: 20px;
        border: none;
    }

    .comparson-products .col-12 {
        width: 75%;
        height: fit-content;
        margin: 10px auto;
        position: relative;
    }

    .favorite-list .title {
        margin-top: 20px;
        width: 100%;
    }

    .favorite-list .card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .favorite-list .card-body .fa-heart-circle-xmark {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    .favorite-list .card-body button {
        width: 70%;
    }

    .Total-count-section .heading:first-child {
        display: block;
        line-height: 35px;
        justify-content: space-between;
    }
    .Total-count-section .heading {
        display: flex;
        line-height: 35px;
        justify-content: space-between;
    }

    .Total-count-section .heading h3 {
        width: 100%;
        display: flex;
        line-height: 35px;
        justify-content: space-between;
    }

    .Total-count-section .heading h4 {
        width: 100%;
        display: flex;
        line-height: 35px;
        justify-content: space-between;
    }

    .Total-count-section .heading h4 {
        font-size: 20px;
    }

    .Total-count-section .heading button {
        width: 40%;
        padding: 3px;
    }
   
}




@media (max-width:768px) {
    .top-navbar .navbarBox .leftLogoSite {
        width: 100% !important;
    }

    .top-navbar .searchBox {
        width: 65% !important;
    }

    .top-navbar .sitebar-menu {
        min-width: 40%;
        overflow-y: auto;
    }

    .hero-area .carousel-item img {
        height: 400px !important;
    }

    .hero-area .col-lg-3 {
        margin: 15px 0;
    }

    .top-reviews-area .col-md-6 {
        width: 49%;
    }

    .recentSell-box .col-md-3 {
        width: 50%;
        margin: 10px 0;
        justify-content: center;
    }

    .card .image {
        width: 50%;
        height: 50%;
    }

    .Women-Fashion .image img {
        width: 70%;
        height: 30% !important;
        object-fit: contain !important;
    }

    .shipping-secton span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .shipping-secton aside {
        text-align: left;
    }

    .subscribe-section form {
        display: flex;
        width: 80% !important;
    }

    /* login page */
    .login-page .login-form {
        text-align: center;
        width: 95% !important;
        margin: 0 auto;
    }

    .login-form p {
        font-size: 14px;
        font-weight: 200;
        display: block;

    }

    .login-form a {
        font-size: 13px;
        font-weight: 400;
        margin: 0px 10px;
    }

    /* footer */
    /* .drop-icon{
    display: block;
} */

}



@media (max-width:576px) {
    .top-navbar .sitebar-menu {
        width: 60% !important;
        display: none;
    }

    .top-navbar .sitebar-menu img {
        width: 30px;
        height: 30px;
    }

    .hero-area .carousel-item img {
        height: 300px !important;
    }

    .heading h5 {
        display: flex;
        height: 100%;
        align-items: center;
        width: 50%;
        font-size: 18px;
        font-weight: 400;
        padding-top: 5px;
    }

    .heading button {
        width: 30% !important;
        font-size: 12px;
        font-weight: 400;
    }

    .heading a {
        width: 30% !important;
        font-size: 12px;
        font-weight: 400;
    }

    .heading a button {
        width: 100% !important;
    }

    .subscribe-section h4 {
        font-size: 18px;
        font-weight: 400;
        text-align: left !important;
        line-height: 27px !important;
    }

    .subscribe-section form {
        width: 100% !important;
        padding: 25px 10px !important;
        display: block !important;
        text-align: center;
    }

    .subscribe-section form input {
        width: 100% !important;
        padding: 6px 10px !important;
    }

    .subscribe-section form button {
        width: 90% !important;
        margin: 15px auto;
        padding: 6px 0 !important;
    }


    /* footer area */
    .footer {
        padding-bottom: 50px;
    }

    .footer li {
        font-size: 14px;
        line-height: 20px !important;
        font-weight: 400;
    }

    .footer-title {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: var(--dark-opacity);
        padding: 10px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .footer-title h5 {
        font-size: 16px;
    }

    .footer-wrapper ul {
        display: none;
    }

    .drop-icon {
        display: block !important;
    }

    .drop-icon i {
        display: block !important;
    }

    .footer-copyright {
        display: block;
        text-align: center !important;
    }



    .footer-copyright .left-side {
        width: 77% !important;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer-copyright .right-side {
        width: 70% !important;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }


    .back-to-home a button {
        font-size: 13px;
        width: 35% !important;
    }

    /* product Details Page */
    .Product-details .purchase a {
        width: 60%;

    }

    .nav-tabs {
        display: inline-block;
    }

    .nav-tabs button {
        width: 33%;
        font-size: 12px;
    }

    .tab-content .clientReview img {
        width: 50px;
        height: 50px;
    }

    .paymentInfo-content .selection {
        display: block;
    }



    /* Compare page */
    .Total-count-section .heading h3 {
        font-size: 18px;
    }

    .Total-count-section .heading button {
        width: 45% !important;
        font-weight: 500;
    }

    .compare .trash {
        width: 50%;
    }

    .compare .trash span {
        font-size: 15px;
        font-weight: 400;
    }

    .compare .trash span h6 {
        font-weight: 400;
    }

    .comparePage-headinng .comparison {
        font-size: 17px;
    }

    .comparePage-headinng .comparison h4 {
        font-size: 17px;
        font-weight: 400;
    }

    /* favourite page */
    .cart-empty-page h1 {
        font-size: 26px !important;
        display: none;
    }

    .comparson-products .col-12 {
        width: 95%;
        height: fit-content;
        margin: 10px auto;
        position: relative;
    }



    /* login page */
    .login-page .login-form {
        width: 90%;
        margin: 0 auto;
    }

}